@import "../../global.scss";

.portfolioList{
    font-size: 12px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;

    @include mobile {
        margin-right: 25px;
    }

    &.active{
        background-color: $mainColor;
        color: white;
    }
}